<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="/favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="/favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
<title>[title]</title>
<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/bower/jquery_lazyload/jquery.lazyload.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>