<!DOCTYPE html>
<html lang="en">
<head>
    {include file="../app/admin/view/head.html" title="$title" /}
    <link rel="stylesheet" href="/static/css/admin/gallery.css">
    <script src="/static/js/admin/gallery.js"></script>
</head>
<body>
<div class="container">

</div>
<div class="modal fade bs-example-modal-lg" id="photomodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="" class="full-img">
        </div>
    </div>
</div>
</body>
</html>